<div class="container-box">
    <% for (let i = 0; i < data.length; i++) { %>
        <div class="card-body">
            <div class="count">
                <span><%= i + 1 %>.</span>
            </div>
            <article style="max-width: 50rem;">
                <div class="title">
                    <a href=""><%= data[i].article_title %></a>
                </div>
                <div class="info">
                    <span><%= data[i].article_likes %> curtidas</span>
                    ·
                    <span>
                        <%= data[i].article_comments %>
                        <% if (data[i].article_comments == 1) { %>
                            comentário
                        <% } else { %>
                            comentários
                        <% } %>
                    </span>
                    ·
                    <a href="#"><%= data[i].user_name %></a>
                    ·
                    <span><%= data[i].time_posted %></span>
                </div>
            </article>
        </div>
    <% } %>
</div>