<%- include('parts/header.ejs'); -%>
    <div class="home container">
        <div class="btn-group align-self-end">
            <span class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Organizar por +
            </span>
            <ul class="dropdown-menu" data-bs-theme="dark">
              <li><a class="dropdown-item" href="/recentes" role="button">Recentes</a></li>
              <li><a class="dropdown-item" href="/comentados" role="button">Comentados</a></li>
            </ul>
        </div>
        <% for (let i = 0; i < data.length; i++) { %>
            <div class="card-body">
                <div class="count">
                    <span><%= i + 1 %>.</span>
                </div>
                <article style="max-width: 50rem;">
                    <div class="title">
                        <a href="/article/<%= data[i].id_article %>">
                            <%= data[i].article_title %>
                        </a>
                    </div>
                    <div class="info text-white-50">
                        <span><%= data[i].article_likes %> curtidas</span>
                        ·
                        <span>
                            <%= data[i].article_comments %>
                            <% if (data[i].article_comments == 1) { %>
                                comentário
                            <% } else { %>
                                comentários
                            <% } %>
                        </span>
                        ·
                        <a href="#"><%= data[i].user_name %></a>
                        ·
                        <span>
                            <%= data[i].formattedTime %>
                        </span>
                    </div>
                </article>
            </div>
        <% } %>
    </div>

<%- include('parts/footer.ejs'); -%>